body {
    background-color: #D3D3D3;
    color: darkblue;
}

.alert {
    text-align:center;
}

.btn-list,
.btn-outline-dark {
    color: rgba(255,255,255,.55);
    background-color: #212529!important;
    border-color: #212529!important;
}

.carousel-item img {
    height: 600px; /* Chiều cao cố định */
    object-fit: cover; /* Ảnh cắt để phù hợp vùng hiển thị mà không thay đổi tỷ lệ */
    width: 100%; /* Đảm bảo ảnh bao phủ toàn chiều rộng */
}

.email-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #21adf8;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.email-footer {
    font-size: 12px;
    color: #aaa;
    text-align: center;
    margin-top: 20px;
}

.bg_col{
    background-color: #626466;
    width: 6%;
}

