body {
    background-color: #D3D3D3;
    color: darkblue;
}

.alert {
    text-align:center;
}

.btn-list {
    color: rgba(255,255,255,.55);
    background-color: #212529!important;
    border-color: #212529!important;
}

.Name-school {
    background-color: #F0F0F0;
}

.carousel-item img {
    height: 600px; /* Chiều cao cố định */
    object-fit: cover; /* Ảnh cắt để phù hợp vùng hiển thị mà không thay đổi tỷ lệ */
    width: 100%; /* Đảm bảo ảnh bao phủ toàn chiều rộng */
}