<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Students Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <!--                {% for c in categories %}-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="/?category_id={{ c.id }}">{{ c.name }}</a>-->
                <!--                </li>-->
                <!--                {% endfor %}-->
                <li class="nav-item">
                    <div class="dropdown">
                        <button type="button" class="btn btn-list btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                            Quản lý học sinh
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/tiepnhanhocsinh">Tiếp nhận học sinh</a></li>
                            <li><a class="dropdown-item" href="/dieuchinhlop">Điều chỉnh lớp</a></li>
                            <li><a class="dropdown-item" href="/tracuuhocsinh">Tra cứu học sinh</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quanlymonhoc">Quản lý môn học</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quanlydiem">Quản lý điểm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quydinh">Xem quy định</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tongket">Tổng kết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/login">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="/register">Đăng kí</a>
                </li>
            </ul>
<!--            <form method="get" action="/" class="d-flex">-->
<!--                <input class="form-control me-2" type="text" name="kw" placeholder="Tìm kiếm thông tin">-->
<!--                <button class="btn btn-primary" type="submit">Tìm</button>-->
<!--            </form>-->
        </div>
    </div>
</nav>