{% extends 'admin/master.html' %}
{% block body %}
{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="https://res.cloudinary.com/dnwyvuqej/image/upload/v1733499755/images_oyg6ud.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_style.css') }}">
{% endblock %}

{% if current_user.is_authenticated %}
<h1 class="text-success text-center mt-1">CHÀO {{ current_user.username }} TRƯỜNG THPT PHAN CHU TRINH</h1>
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dnwyvuqej/image/upload/v1733502443/danh-gia-truong-thpt-phan-chau-trinh-tinh-da-nang-co-tot-khong_z8qju2.jpg"
             alt="Cổng trường" class="d-block w-100">
        <div class="carousel-caption">
            <h3>Cổng trường</h3>
            <p>Cổng vào trường THPT Phan Chu Trinh</p>
        </div>
    </div>
</div>
{% block footer %}
    {% include 'layout/footer.html' %}
{% endblock %}
{% else %}
<h1 class="text-center mt-1 text-success">ĐĂNG NHẬP QUẢN TRỊ</h1>
<form method="post" action="/login-admin">
    <div class="form-floating mb-3 mt-3">
        <label for="username">Tên đăng nhập</label>
        <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username"/>
    </div>

    <div class="form-floating mt-3 mb-3">
        <label for="password">Mật khẩu</label>
        <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password">
    </div>

    <div class="form-floating mt-3 mb-3">
        <button class="btn btn-danger">Đăng nhập</button>
    </div>
    <div class="form-floating mt-3 mb-3">
        <a class="btn btn-success" href="/login">Đăng nhập trang học sinh</a>
    </div>
</form>
{% endif %}
{% endblock %}
